<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>NavScan</ion-title>
    </ion-toolbar>
</ion-header>

<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="scan">
        <ion-icon name="qr-code"></ion-icon>
        Scan
      </ion-tab-button>
      <ion-tab-button tab="historial-scan">
        <ion-icon name="hourglass"></ion-icon>
        Historial
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
